<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1513470939372-bd520e7d77db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);">
  <div class="container">
    <h1>Find the cocktail <strong>you</strong> need</h1>
    <a class="btn btn-success" href="#">Drink!</a>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <% @cocktails.reverse.each do |cocktail| %>
      <div class= 'col-4 card m-3 p-0' style="width: 24rem;">
        <div class="card-img-full">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Card image cap">
          <div class="card-add-ingredient">
            <%= link_to new_cocktail_dose_path(cocktail) do  %>
            <i class="fas fa-plus-circle"></i>
            <% end %>
          </div>
          <div class="card-delete">
            <%= link_to cocktail_path(cocktail), method: :delete, data: {confirm: "Sure?" } do  %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
          </div>
          <div class="card-modify">
            <%= link_to edit_cocktail_path(cocktail) do  %>
            <i class="fas fa-edit"></i>
          <% end %>
          </div>
        </div>
        <div class="card-body pl-5 pr-5">
          <h4 class='card-title text-center mb-2'><%= cocktail.name %></h4>
          <p class="card-text font-weight-light font-italic text-center"> Contains...
            <%= cocktail.ingredients.exists? ? cocktail.ingredients.first.name : 'No ingredient yet' %>
            <%= cocktail.ingredients.exists? ? cocktail.doses.first.description : 'No doses yet'%>
          </p>
            <%= link_to 'More details', cocktail_path(cocktail), class: 'btn btn-success w-100'%>
        </div>
      </div>
    <% end %>
  </div>
</div>



