
<div class="container">

<h1>all doses for the <%= @cocktail.name %> :</h1>
<h5> <%= link_to 'Back to the cocktail', cocktail_path(@cocktail)   %></h5>
<h5><%= link_to 'Add a new dose', new_cocktail_dose_path(@cocktail)   %></h4>

<ul>
  <% @doses = @doses.select { |dose| dose.cocktail_id == @cocktail.id} %>
  <% @doses.each do |dose| %>
  <li>
    <%= dose.description %> of <%= Ingredient.find(dose.ingredient_id).name %>
    <%= link_to 'delete', dose_path(dose), method: :delete, data: { confirm: "Sure ?" }  %>
  </li>
  <% end %>
</ul>
</div>
